<style>.cad { background-color: #8CBF43; }
        .botao {
            -moz-box-shadow: 0px 10px 14px -7px #000000;
	        -webkit-box-shadow: 0px 10px 14px -7px #000000;
	        box-shadow: 0px 10px 14px -7px #000000;
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7) );
            background:-moz-linear-gradient( center top, #007dc1 5%, #0061a7 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7');
            background-color:#007dc1;
            -webkit-border-top-left-radius:3px;
            -moz-border-radius-topleft:3px;
            border-top-left-radius:3px;
            -webkit-border-top-right-radius:3px;
            -moz-border-radius-topright:3px;
            border-top-right-radius:3px;
            -webkit-border-bottom-right-radius:3px;
            -moz-border-radius-bottomright:3px;
            border-bottom-right-radius:3px;
            -webkit-border-bottom-left-radius:3px;
            -moz-border-radius-bottomleft:3px;
            border-bottom-left-radius:3px;
        text-indent:0;
            border:1px solid #124d77;
            display:inline-block;
            color:#ffffff;
            font-family:Arial;
            font-size:15px;
            font-weight:bold;
            font-style:normal;
        height:50px;
            line-height:50px;
        width:140px;
            text-decoration:none;
            text-align:center;
            text-shadow:0px 1px 0px #154682;
        }.botao:hover {
            background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1) );
            background:-moz-linear-gradient( center top, #0061a7 5%, #007dc1 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1');
            background-color:#0061a7;
        }.botao:active {
            position:relative;
            top:1px;
        }</style>
<h1>Inserir funcionário:</h1>

    <form method="POST" action="http://localhost/?pagina=cadastrar&metodo=insert">
        <span>Nome1</span><br>
        <input type="text" name="nome"><br>
        <span>CPF</span><br>
        <input type="text" name="cpf"><br>
        <span>Data de Nascimento</span><br>
        <input type="text" name="dt_nasc"><br>
        <span>Sexo</span><br>
        <input type="text" name="sexo"><br>
        <span>Naturalidade</span><br>
        <input type="text" name="naturalidade"><br>
        <span>Cargo</span><br>
        <input type="text" name="cargo"><br><br>

        <input type="submit" value="Cadastrar" class="botao">

        

    </form>
